.cart-item {
    border-bottom-style: double;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    
}

.cart-item img {
    max-height: 150px;
}

button {
    max-height: 30px;
}

.buyform {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 40px;
    font-size: 20px;
    font-weight: bold;

}


.buyform input {
    font-size: 18px;
}

.inputform {
    padding: 15px;
}

.inputform label {
    padding: 10px;
}